/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
  -moz-box-shadow: 0px 0px 10px #343434;
  -webkit-box-shadow: 0px 0px 10px #343434;
  -o-box-shadow: 0px 0px 10px #343434;
  box-shadow: 0px 0px 10px #343434;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #656565;
  background:#cfcfcf;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#9a0000"); /* Pour IE seulement et mode gradient à linear */
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#9a0000));
  background: -webkit-linear-gradient(#cfcfcf, #9a0000);
  background: -moz-linear-gradient(#cfcfcf, #9a0000);
  background: -o-linear-gradient(#cfcfcf, #9a0000); 
  background: -ms-linear-gradient(#cfcfcf, #9a0000); 
  background: linear-gradient(#cfcfcf, #9a0000); 
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: fixed;
  background-image: url(../images/main.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: -20px;
  margin-bottom: 10px;
  padding: 0px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}

 /* Dropdown config */
.cd-dropdown,
.cd-select {
  position: relative;
  width: 300px;
  margin: 20px auto;
  display: block;
}

.cd-dropdown > span {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-weight: 700;
  font-size: 16px;
  display: block;
  padding: 0 50px 0 30px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  background:#cfcfcf;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434"); /* Pour IE seulement et mode gradient à linear */
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
  background: -webkit-linear-gradient(#cfcfcf, #343434);
  background: -moz-linear-gradient(#cfcfcf, #343434);
  background: -o-linear-gradient(#cfcfcf, #343434); 
  background: -ms-linear-gradient(#cfcfcf, #343434); 
  background: linear-gradient(#cfcfcf, #343434); 
}

.cd-dropdown > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  top: 15%;
  width: 50px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
  content: '\25B2';
}

.cd-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.cd-dropdown ul li {
  display: block;
}

.cd-dropdown ul li span {
  width: 100%;
  background: none;
  line-height: 60px;
  padding: 0 30px 0 75px;
  display: block;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
  padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
  border: 1px solid #ddd;
}

.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
  position: absolute;
  top: 0px;
  width: 100%;
}

.cd-dropdown ul li {
  position: absolute;
  width: 100%;
}

.cd-active.cd-dropdown > span {
  color: #4d8c9d;
}

.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
  color: #fff;
}

.cd-dropdown,
.cd-dropdown .icon-google-plus,
.cd-dropdown .icon-facebook,
.cd-dropdown .icon-twitter,
.cd-dropdown .icon-github {
  -moz-box-shadow: 0px 0px 10px #343434;
  -webkit-box-shadow: 0px 0px 10px #343434;
  -o-box-shadow: 0px 0px 10px #343434;
  box-shadow: 0px 0px 10px #343434;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #656565;
  background:#cfcfcf;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434"); /* Pour IE seulement et mode gradient à linear */
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
  background: -webkit-linear-gradient(#cfcfcf, #343434);
  background: -moz-linear-gradient(#cfcfcf, #343434);
  background: -o-linear-gradient(#cfcfcf, #343434); 
  background: -ms-linear-gradient(#cfcfcf, #343434); 
  background: linear-gradient(#cfcfcf, #343434);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a0000", endColorstr="#cfcfcf"); /* Pour IE seulement et mode gradient à linear */
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.svg#icomoon') format('svg'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.cd-dropdown span[class^="icon-"]:before, 
.cd-dropdown span[class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  position: absolute;
  font-size: 40px;
  line-height: 40px;
  width: 50px;
  top: 50%;
  left: 15px;
  margin-top: -20px;
  text-align: center;
}
.icon-google-plus:before{
  content: "\21";
}
.icon-facebook:before {
  content: "\22";
}
.icon-twitter:before {
  content: "\23";
}
.icon-github:before {
  content: "\24";
}